@using AirplaneMVC.Models;
@using RouteModel = AirplaneMVC.Models.Route
@model IEnumerable<RouteModel>

@{
    ViewData["Title"] = "Routes";
}

<h2>Routes</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Route</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Origin)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Destination)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Distance)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Classification)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var route in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => route.Origin)</td>
                <td>@Html.DisplayFor(modelItem => route.Destination)</td>
                <td>@Html.DisplayFor(modelItem => route.Distance)</td>
                <td>@Html.DisplayFor(modelItem => route.Classification)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@route.RouteID" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Edit" asp-route-id="@route.RouteID" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@route.RouteID" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>