@model AirplaneMVC.Models.Crew

@{
    ViewData["Title"] = "Crew Details";
}

<h2>Crew Details</h2>

<dl class="row">
    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.MajorPilot)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.MajorPilot)</dd>

    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.AssistantPilot)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.AssistantPilot)</dd>

    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Hostess1)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Hostess1)</dd>

    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Hostess2)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Hostess2)</dd>

    <dt class="col-sm-2">Aircraft</dt>
    <dd class="col-sm-10">@Model.Aircraft?.Model</dd> <!-- Adjusted to use 'Model' property -->
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model.CrewID" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>